body{
    margin: 0;
    padding: 0;
    width: 90vw;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
    background-color: firebrick;
}

h1{
    text-align: center;
    color: whitesmoke;
}
h3{
    margin: 0;
    font-size: 24px;
    color: whitesmoke;
}
.maincontent{
    display: flex;
    justify-content: center;
    background-color: #fdd099a8;
    padding: 1vw 0;
}
.container{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 35vw;
    height: 35vw;
    margin-left: auto;
    margin-right: 2vw;
    border: solid;
    border-color: #fedbb0;
    border-width: 5px;
}
.box {
    background: rgb(255, 255, 255);
}
.box:hover{
    background: rgb(117, 117, 117) !important;
}
.settings{
    width: 35vw;
    height: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
.gridSlider{
    width: 75%;
    -webkit-appearance: none;
    appearance: none;
    accent-color: firebrick;
    background-color: #fdd099a8;
    border-radius: 10px;
}
.sButton{
    width: 50%;
    border-radius: 10px;
    background-color: #fdd099a8;
    color: whitesmoke;
    border: none;
    font-size: 18px;
    transition: 0.5s;
}
.sButton:hover{
    width: 60%;
    border-radius: 10px;
    background-color: firebrick;
    color: goldenrod;
    border: none;
    transition: 0.5s;
}